POSTGRES_USER=spifroca
POSTGRES_PASSWORD=spifroca_secret_2024
POSTGRES_DB=spifroca
DATABASE_URL=postgresql://spifroca:spifroca_secret_2024@db:5432/spifroca
NEXTAUTH_URL=http://100.117.86.125:3000
NEXTAUTH_SECRET=SpiderfrogSpifroca2024SuperGeheim!!
NEXT_PUBLIC_APP_NAME=spifroca
NEXT_PUBLIC_APP_VERSION=1.0.0
NODE_ENV=development
